# Injected by Terraform during deploy (fill manually for local development)

SUFFIX=
CERTIFICATES_BUCKET=
GCP_PROJECT_NUMBER=
GCP_REGION=us-central1
CLOUD_FUNCTIONS_SA_EMAIL=
CLOUD_RUN_APP_URL=http://localhost:3000

# Set via GitHub Actions for deploy / .env for local development

NEXT_PUBLIC_BASE_URL=http://localhost:3000     # [env:var]
GCP_PROJECT_ID=                               # [env:var]
GOOGLE_CLIENT_ID=                             # [env:var]
GA_ID=                                        # [env:var]
DB_URL=postgresql://postgres:password@localhost:5433/certificate_management  # [env:secret]
DB_DIRECT_URL=postgresql://postgres:password@localhost:5433/certificate_management  # [env:secret]
GOOGLE_CLIENT_SECRET=                         # [env:secret]
OWNER_EMAIL=                                  # [repo:var]
DRIVE_LINK=                                   # [repo:env]
GEMINI_API_KEY=                               # [repo:secret]
BREVO_API_KEY=                                # [repo:secret]

# Only for local development

DB_USER=postgres
DB_PASSWORD=password
DB_NAME=certificate_management