# GCP
GCP_PROJECT_ID=
CERTIFICATES_BUCKET=
# GOOGLE_APPLICATION_CREDENTIALS=/caminho/para/service-account.json

# URLs públicas para o teste de geração de certificados
E2E_TEMPLATE_URL=
E2E_DATA_SOURCE_URL=
