# Injected by Terraform during deploy (fill manually for local development)

ENV=local
APP_BASE_URL=http://localhost:3000
CERTIFICATES_BUCKET=
MAX_ATTEMPTS=1 # Does not affect the queue's retry in local development

# Set via GitHub Actions for deploy (fill manually for local development)

GOOGLE_CLIENT_ID=        # [env:var]
GOOGLE_CLIENT_SECRET=    # [env:secret]
GOOGLE_REFRESH_TOKEN=    # [env:secret]
GOOGLE_DRIVE_FOLDER_ID=  # [repo:var]

# GOOGLE_API_KEY=
# SOFFICE_PATH=
